* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

p {
    color:  hsl(0, 0%, 81%);
}

body {
    background-color: rgba(0, 0, 0, 0.147);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    gap: 1rem;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    margin: 10%;
}

.testimony-container {
    padding: 1.9rem;
    border-radius: 10px;
}

.testimony-container img {
    border-radius: 100%;
    width: 35px;
}

.testimony-userprofile {
    display: flex;
    align-items: center;
}

.testimony-title {
    font-size: 1.2rem;
}

.name-and-status {
    margin-left: 10px;
}

.status {
    color: hsl(0, 0%, 81%);
    font-size: 13px;   
    font-weight: lighter;     
}

.one {
    background-color: hsl(263, 55%, 52%);
    color: white;
}

.two {
    background-color: hsl(217, 19%, 35%);
    color: white;
}

.three {
    background-color: white;
}

.four {
    background-color: hsl(219, 29%, 14%);
    color: white;
}

.five {
    background-color: white;
}


/* Extra small devices with 600px and below.  */
@media only screen and (max-width: 375px) {
    
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 0%;
    }

}


/* Small devices like portrait tablets and large phones with 600px and above. */
@media only screen and (min-width: 600px) {

    .container {
        grid-template-columns: 1fr 1fr;
    }

    .one {
        grid-row: 1/1;
        grid-column: 1/3;
    }

    .four {
        grid-column: 3/1;
    }

    .five {
        grid-column: 3/1;
    }
}


/* Medium devices like landscape tablets, 768px and above. */
@media only screen and (min-width: 768px) {

    .one {
        grid-row: 1/3;
        grid-column: 1/1;
    }

    .four {
        grid-row: 3/3;
        grid-column: 1/1;
    }

    .five {
        grid-column: 2/3;
    }
}


/* Large devices like laptops/desktops, 992px and above.  */
@media only screen and (min-width: 992px) {

    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .one {
        grid-column: 1/3;
        grid-row: 1/1;
    }

    .four {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .five {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .three {
        grid-column: 2/5;
    }
}


/* Extra large devices like large laptops and desktops, 1200px and above. */
@media only screen and (min-width: 1200px) {

    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 250px 50px 200px;
        grid-template-rows: auto auto;
    }

    .one {
        grid-column: 1/7;
    }

    .four {
        grid-row: 2;
        grid-column: 4/8;
    }

    .five {
        grid-row: 1/3;
        grid-column: 8/10;
    }

    .three {
        grid-row: 2/3;
        grid-column: 1/4;
    }

}